@media (max-width: 369.98px) {

}

@media (min-width: 370px) and (max-width: 575.98px) {

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*pc*/
@media (min-width: 1200px) {

    .limit-text-2 {
        border-top: 1px solid #e6e6e6;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Open Sans', sans-serif;
    }

}